

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>

<html>
<head>
<title>Witch Wand </title>

	
	
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>

<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- Custom Theme files
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Studeon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
 -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!--webfont
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
<!--//webfont-->

<!--Animation-->
<script src="js/wow.min.js"></script>
<link href="css/animate.css" rel='stylesheet' type='text/css' />

<script>
	new WOW().init();
</script>

<!---- ANGULAR JS --->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-2.1.3.js"></script>
<link href="css/ngDialog.css" rel='stylesheet' type='text/css' />
<!-- // AngularJs -->

<!-- Custom Scripts  -->
<script src="js/index.js"></script>
<!-- Custom Scripts -->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
 
			 	
<body>
	<div class="header box css3-shadow" id="head">
 	<div class="container">
	  <div class="header-top">
	        <div class="logo wow bounceInLeft" data-wow-delay="0.4s" id="logoDiv">
				<a href="index.html"><img src="images/logo_net.jpg"  alt=""  onMouseOver="this.src='images/logo-over.jpg'" 
                    onMouseOut="this.src='images/logo_net.jpg'"/> 
								
			 	<span id ="logoSpan" ><img src="images/logo-name.jpg"  alt="" onMouseOver="this.src='images/logo-name-over.jpg'" 
			 	  onMouseOut="this.src='images/logo-name.jpg'" /></span>
			 	</a>
			 </div>
			 	
			 
		     <div  ng-app="myApp" ng-controller="customersCtrl" class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li class="active"><a  href="index.html">Home</a></li>
						<li><a href="index.html" class="scroll">About</a></li>
						<li><a href="brands.html">Brands</a>
						<!-- <ul>
							<li><a>test</a></li>
							<li ng-repeat="x in names"><a>{{x}}</a></li>
						</ul> -->
						<li><a href="services.html">Services</a>
							<!--ul>
								<li><a href="Services">Typography</a></li>
								<li><a href="Services">Shortcodes</a></li>
								<li><a href="Services">Columns</a></li>
								<li><a href="Services">Pricing plans</a></li>
								<li><a href="Services">Alerts</a></li>
								<li><a href="Services">Services</a></li>
							</ul-->
						</li>
					<!-- <li><a href="single">Blog</a></li> -->
					<li><a href="contact.html">Contact</a></li>
					<li><a href="shopNow.html">Shop now</a>

				</ul>
				<script type="text/javascript" src="js/nav.js"></script>
			</div><!-- end h_menu4 -->
		<div class="social_icons wow bounceInRight" data-wow-delay="0.4s">
					<ul>
						<li class="icon-top blue-text">
						<a href="https://www.facebook.com/witchwand/?fref=ts"><img src="images/logo-fb.png" alt="" style="width: 22px;height: 20px;,display:inline-block;"></a>
						<a href="https://www.instagram.com/witch_wand/"><img src="images/logo-instagram.png" alt="" style="width: 26px;height: 26px;,display:inline-block;"></a>
						<a href="#"><img src="images/logo-pinterest.png" alt="" style="width: 25px;height: 24px;,display:inline-block;"></a>
						<a href="http://www.twitter.com/witchwand"><img src="images/logo-twitter.png" alt="" style="width: 24px;height: 21px;,display:inline-block;"></a>
						<!-- <a href="#"><img src="images/logo-youtube.png" alt="" style="width: 28px;height: 38px;,display:inline-block;"></a> -->
						</li>
					</ul>
				</div>

			<div class="clearfix"> </div>
			
		  </div><!-- end header_main4 -->
	</div>
</div>
<!--start-contact-->
		<div class ="contact-section">
			<div class="container">
				<div class="contact">
					<h3 class="wow bounceIn" data-wow-delay="0.4s">CONTACT US</h3>
					<!-- <p class="wow fadeInUpBig animated" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur,Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, </p> -->
						<form class="wow bounceIn" data-wow-delay="0.4s">
							<input type="text" placeholder="Name" required=" ">
							<input type="text" placeholder="E-mail" required=" ">
							<input type="text" placeholder="Subject" required=" ">
							<textarea placeholder="Message" required=" "></textarea>
							<input type="submit" value="SEND MESSAGE">
						</form>
						<%= form_for(@contact) do |f| %>
					      <%= f.label :name %>
					      <%= f.text_field :name %>

					      <%= f.label :email %>
					      <%= f.email_field :email %>

					      <%= f.label :Subject %>
					      <%= f.subject_field :Subject %>

					      <%= f.label :Message, "Confirmation" %>
					      <%= f.Message_field :Message %>

					      <%= f.submit "Create my account", class: "btn btn-primary" %>
					    <% end %>
					</div>
					<!--<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d315198.42131784896!2d5.849972999999987!3d51.888564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7a7e5143e7afb%3A0xb21ce1ae282c4483!2sBarenbrug+Holland+B.V.!5e0!3m2!1sen!2sin!4v1427362466033" frameborder="0" style="border:0"></iframe>
					</div>-->	
				</div>
			</div>
			<!--/start-footer-section-->
		
	<!--//end-footer-section-->
			<!--/start-copyright-section-->
				<div class="copyright">
					<div class="container">
					<div class="logo2  wow bounceInLeft" data-wow-delay="0.4s"><a href="index.html">
						<img src="images/LogoNet.png"  alt=""  onMouseOver="this.src='images/LogoOver.png'" 
                    onMouseOut="this.src='images/LogoNet.png'"/> 
					</a></div>
					<div class="col-md-1 company-details"></div>
					<div class="col-md-3 company-details" >
							<div class="icon-top red-text" style="max-width: 0%;">
								<img src="images/red-location-map-pin-icon-5.png"  alt="" style="width: 30px">
								</div  >
								<div style="color:#a8a8a8;">
									Witch Wand
									UNIT 601, 12TH MAIN, HAL 2NDSTAGE 
									BANGALORE - 560 008
									KARNATAKA
									INDIA
								</div>
						</div>
						<div class="col-md-3 company-details">
							<div class="icon-top green-text" >
								<img  src="images/email-icon.png" alt="" style="width: 47px;height: 42px;">
							</div>
							<a style="color: #a8a8a8;" href="mailto:contact@site.com" > info@witchwand.com</a>
						</div>
						<div class="col-md-3 company-details">
							<div class="icon-top blue-text">
							<img src="images/phone.png" alt="" style="width: 30px">
							</div>
							<a style="color:#a8a8a8;" href="tel:0 332 548 954">+91-8889893332</a>
						</div>
						</div>
					<div class="clearfix">
					<div class="container  bounceInRight">
					<p class="write  wow " data-wow-delay="0.4s">Copyright &copy; 2016  All rights  Reserved | Template by &nbsp;<a href="#"> W3layouts</a></p>
					</div>
					</div>
				</div>
				
			
			<!--//end-copyright-section-->
			<!--start-smoth-scrolling-->
			<script type="text/javascript" src="js/move-top.js"></script>
			<script type="text/javascript" src="js/easing.js"></script>
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#head" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


			
</body>
</html>